header{
background-color: rgb(84, 84, 96);
display: flex;
justify-content: space-between;
height: 3rem;
}

#name{
    background-color:rgb(170, 248, 239);
    font-size: xx-large;
    width: 17%;
    height: 65%;
    padding-left: 3rem;
    padding-bottom: 0.3rem;
    position: relative;
    bottom: 1rem;
}

#nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;
}
nav > a{
    color: rgb(170, 248, 239);
}

#hero{
    background-color: black;
    height: 6rem;
    width: 100%;
    position: relative;
}
#hero > #webverse{
    width: 100%;
    height: 100%;
}

#hero > #headshot{
    width: 10%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 6.3rem;
    left: 49rem;
}

#hero > h2{
    background-color:rgb(170, 248, 239);
    position: absolute;
    bottom:1%;
    right:4%
    
}
 /*used flexbox to style the main page to column*/
.page-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 3rem;
}
/*used flexbox to style the about me section to row,
  and set the items side by side*/
#about{
    display: flex;
    position: relative;
}

/*This made each section header and content to row format*/
.page-section{
    display: flex;
    }

/*This made the about me page move to the left */
#about p{
    position: relative;
    left: 2%;
    width:96%;
    /*border-top: .2rem solid rgb(170, 248, 239);*/
    padding-left: 1rem;
}
/*adjusted all the section title to wrap, have vr*/
.page-wrapper h2{
    text-align: right;
    border-right: 0.2rem solid black;
    padding-right:0.5rem ;
}

/*set the work images for grid positioning*/
.project-images{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 25% 25%;
    grid-gap: 1rem;
    object-fit: cover;
    grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
    
}

#project1 {
    grid-area: project1;
    width: 100%;
    height: 100%;
    position: relative;
}

#project1 img{
    width: 100%;
    height: 100%;
    border: .2rem solid rgb(170, 248, 239);
    position: relative;
}

.projectParagraph{
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(170, 248, 239);
    position: relative;
    bottom: 7rem;
   
}
/*#project1 p{
    position: absolute;
    bottom: -20%;
    left: .5%;
}*/

#project2{
    grid-area: project2;
    width: 100%;
    height: 100%;
}
#project2 img{
    width: 100%;
    height: 100%;
    border: .2rem solid rgb(170, 248, 239);
}
#project3{
    grid-area: project3;
    width: 100%;
    height: 100%;
}
#project3 img{
    width: 100%;
    height: 100%;
    border: .2rem solid rgb(170, 248, 239);
}
#project4{
    grid-area: project4;
    width: 100%;
    height: 100%;
}
#project4 img{
    width: 100%;
    height: 100%;
    border: .2rem solid rgb(170, 248, 239);
}
#project5{
    grid-area: project5;
    width: 100%;
    height: 100%;
}
#project5 img{
    width: 100%;
    height: 100%;
    border: .2rem solid rgb(170, 248, 239);
}

#contact {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    
}

#contact a{
    display: flex;
    justify-content: space-around;
    color: black;

   
}

#contact h2{
   text-align: left;
}






